---
layout: base
---

<div class="intro-header"></div>

{% if page.tex %}
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {
    inlineMath: [['$','$'], ['\\(','\\)']],
    processEscapes: true
  }
  TeX: {
    equationNumbers: {
      autoNumber: "all"
    }
  }
});
</script>

<script type="text/javascript" id="MathJax-script" async
  src="https://fkarg.github.io/assets/js/tex-mml-chtml.js">
</script>
{% endif %}

<div role="main" class="container-md">
  {{ content }}
</div>
