---
common-css:
  - "/assets/css/main-minimal.css"
common-ext-css:
  - href: "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    sri: "sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
common-js:
  - "/assets/js/jquery-3.4.1.min.js"
  - "/assets/js/popper-1.16.0.min.js"
  - "/assets/js/bootstrap-4.4.1.min.js"
---

<!DOCTYPE html>
<html lang="{{ page.language | default: site.language | default: 'en' }}">

  {% include head.html %}

  <body>

    <div role="main" class="container-md main-content">
      {{ content }}
    </div>

    {% include footer-minimal.html %}

    {% include footer-scripts.html %}

  </body>
</html>
